.form {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 512px;
    width: 100%;
}

.form-field {
    flex: none;
    width: 100%;

    &:not(:first-child) {
        margin-top: 9px;

        @media screen and (min-width: 480px) {
            margin-top: 12px;
        }
    }
}

.form-group {
    @extend .form-field;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.form-submit {
    @extend .btn-primary;
    margin-top: 18px;
    width: 80%;

    @media screen and (min-width: 480px) {
        margin-top: 24px;
    }
}
